hydra:
  run:
    dir: .

experiment:
  task: regression
  ckpt_file_name: resnet34_qr

data:
  repo: nasa-ibm-ai4science/surya-bench-flare-forecasting
  ref_mask_img: HMI-Mag.2010.12.06_07.00.00.jpg
  index:
    path: ../../assets/data/
    train: train.csv
    val: validation.csv
    test: test.csv
  input:
    path: /anvil/scratch/x-jhong6/data/mag
    ext: jpg
    dim: 512
  index_file_path: ../../assets/data
  input_time_delta: [0] #[-60, 0]
  input_stat_path: ../../assets/data/los_mag_stat.yaml
  label_type: max_goes_class
  limb_mask_path: ../../assets/data/limb_mask.npy
  scaler_mul: 1
  scaler_shift: -127.5
  scaler_div: 127.5
  # for dataloader
  num_workers: 2
  batch_size: 256
  pin_memory: false

model:
  save_ckpt_path: ../../assets/check_point/
  ckpt: null

cp:
  score_type: l1
  alpha: 0.05

# wandb:
#   save_dir: ../../assets
#   entity: gsu-dmlab
#   project: uncertainty-flare-regression
#   log_model: false
#   notes: "Resnet34 backbone and MCP"
#   offline: true
#   save_code: false
#   tag: ["resnet34", "mcp", "regression"] # backbone model, head type, task