hydra:
  run:
    dir: .

experiment:
  task: regression
  ckpt_file_name: resnet34_posthoc_calibration

data:
  repo: nasa-ibm-ai4science/surya-bench-flare-forecasting
  ref_mask_img: HMI-Mag.2010.12.06_07.00.00.jpg
  flare_index:
    path: ../../assets/data/
    train: train.csv
    val: validation.csv
    test: test.csv
  input_index_path: ../../assets/data/helioviewer_mag_input.csv
  input:
    path: /anvil/projects/x-cis251356/helioviewer/mag
    ext: jpg
    dim: 512
  input_time_delta: [0] #[-60, 0]
  input_stat_path: ../../assets/data/los_mag_stat.yaml
  label_type: max_intensity
  limb_mask_path: ../../assets/data/limb_mask.npy
  target_norm_type: log
  scaler_mul: 1
  scaler_shift: -127.5
  scaler_div: 127.5
  # for dataloader
  num_workers: 2
  batch_size: 256
  pin_memory: true

check_point:
  model_type: resnet
  base: ../../assets/check_point/
  mcd: 2meqot08_resnet34_mcp_epoch=7-val_loss=1.2375.ckpt
  qr: 0lt5sbnq_resnet34_qr_epoch=33-val_loss=0.1677.ckpt

uc:
  csv_path: ../../assets/uc_results/
  significance_level: 0.05
  mcd:
    num_forwards: 100
  cp:
    score_type: l1
  lp:
    subset_size: 1000
  cqr:
    lower_idx: 0
    upper_idx: 2
  
trainer:
  accelerator: gpu
  devices: 1
  num_nodes: 1
  max_epochs: 150
  precision: 32
  log_every_n_steps: 50
  limit_train_batches: 3000
  limit_val_batches: 1500
  strategy: auto

