hydra:
  run:
    dir: .

data:
  repo: nasa-ibm-ai4science/surya-bench-flare-forecasting
  input: 
    path: /home/jhong36/data/hetero_data/hmi/compressed/mag
    ext: jpg
  index_file_path: ../../data
  input_time_delta: [-60, 0]
  input_stat_path: ../../assets/log_mag_stat.yaml