hydra:
  run:
    dir: .

experiment:
  task: regression
  ckpt_file_name: resnet34_mcp

data:
  repo: nasa-ibm-ai4science/surya-bench-flare-forecasting
  ref_mask_img: HMI-Mag.2010.12.06_07.00.00.jpg
  index_path:
    train: ../../data/train.csv
    val: ../../data/validation.csv
    test: ../../data/test.csv
  input:
    path: /home/jhong36/data/hetero_data/hmi/compressed/mag
    ext: jpg
    dim: 512
  index_file_path: ../../data
  input_time_delta: [0] #[-60, 0]
  input_stat_path: ../../data/los_mag_stat.yaml
  label_type: max_goes_class
  limb_mask_path: ../../data/limb_mask.npy
  scaler_mul: 1
  scaler_shift: -127.5
  scaler_div: 127.5
  # for dataloader
  num_workers: 2
  batch_size: 32
  pin_memory: false

model:
  type: resnet34
  pretrained_weights_path: ../../assets/check_point
  num_forwards: 100
  

  resnet34:
    in_channels: 1
    time_steps: 1
  
  loss:
    type: mse

optimizer:
  type: adamw
  lr: 0.00001
  weight_decay: 0.01

scheduler:
    use: cosine_warmup # The switch
    monitor: val_loss 
    # Define available strategies
    cosine_warmup:
      total_steps: 1000
      warmup_ratio: 0.1 # Default 10% warmup
    plateau:
      mode: min
      factor: 0.1
      patience: 10

trainer:
  accelerator: gpu
  devices: 2
  num_nodes: 1
  max_epochs: 300
  precision: 32
  log_every_n_steps: 50
  limit_train_batches: 3000
  limit_val_batches: 1500
  strategy: auto

wandb:
  save_dir: ../../assets
  entity: gsu-dmlab
  project: uncertainty-flare-regression
  log_model: false
  notes: "Resnet34 backbone and MCP"
  offline: false
  save_code: false
  tag: ["resnet34", "mcp", "regression"] # backbone model, head type, task